<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monidorm Bot email confirmation</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 50px auto;
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
        }
        .header {
            background-color: #4CAF50;
            color: white;
            padding: 20px;
            text-align: center;
        }
        .header h1 {
            margin: 0;
        }
        .content {
            padding: 30px;
            text-align: center;
        }
        .content p {
            font-size: 18px;
            color: #333333;
            margin: 20px 0;
        }
        .button {
            display: inline-block;
            padding: 12px 20px;
            margin: 20px 0;
            color: white;
            background-color: #4CAF50;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
        }
        .code-box {
            display: inline-block;
            padding: 15px 25px;
            margin: 20px 0;
            background-color: #e7f5e9;
            border: 2px dashed #4CAF50;
            border-radius: 5px;
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;
            color: #333333;
            font-family: 'Courier New', Courier, monospace; /* Monospace font */
        }
        .footer p {
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Confirm your email</h1>
        </div>
        <div class="content">
            <p>Here is your Monidorm confirmation code.</p>
            <p>Send it to bot in order to authorize.</p>
            <div class="code-box"> {{ code }} </div>
        </div>
    </div>
</body>
</html>
